.c-btn {
    padding: 10px 25px;
    display: inline-block;
    margin: 25px auto;
    background: $lemon;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    font: font(18, 24);
    @include border-radius(14px);
    &:hover {
        transform: scale(0.98);
    }
}