$fontFamily: 'Montserrat Alternates', sans-serif;
$fontFamilySecondary: 'Pacifico', cursive;

@function chooseBoldSize($fontBold) {
  @if ($fontBold == 'light') {
    @return 300;
  } @else if ($fontBold == 'bold') {
    @return 700;
  } @else if ($fontBold == 'extra') {
    @return 900;
  }
  @return 400;
}

@function font($size, $height, $weight: 'normal', $family: $fontFamily) {
  $baseSize: 16;

  $font: $size / $baseSize;
  $lineHeight: $height / $baseSize;

  $result: chooseBoldSize($weight) unquote(" #{$font}rem / #{$lineHeight}rem") $family;

  @return $result;
}

p {
  margin: 0;
}
